.portfolio {
  background-color: rgb(251 207 232 / var(--tw-bg-opacity, 1));
  font-family: "GeistMono", monospace;
  padding: 2rem;
}
.title {
  font-weight: 700;
  font-size: 2.25rem !important;
  line-height: 2.5rem !important;
  white-space: pre-wrap !important;
}
.container-fluid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.custom-navbar {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}
.sticky-top {
  background-color: rgb(251 207 232 / var(--tw-bg-opacity, 1));
  z-index: 1000;
}
.custum-navbar-collapse {
  margin-bottom: 5rem;
}
.section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
a.contact {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}
.sectionTitle {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}
.sectionText {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.sectionSubTitle {
  font-size: 2rem;
}
.nav-item .nav-link,
a.contact {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #facc15;
  border: 4px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000;
  transition: all 0.2s ease;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1rem;
}
/* Effetto Hover */
.nav-item .nav-link:hover,
a.contact:hover,
.submitButton:hover {
  box-shadow: none;
  transform: translate(1px, 1px);
  color: #000000;
  text-decoration: none;
}
.nav-link.active {
  background-color: #4aed80;
}
.nav-link {
  color: #000000 !important;
}
#home {
  text-align: center;
}
.titleJob {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
  margin-bottom: 1rem;
}
.subTitleJob {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.sectionAboutMe {
  border-radius: 5px;
  border: 5px solid #000000;
  box-shadow: 5px 5px 0px 0px #000000;
  background-color: #93c5fd;
  padding: 32px;
}
#contact {
  border-radius: 5px;
  border: 5px solid #000000;
  box-shadow: 5px 5px 0px 0px #000000;
  background-color: #4aed80;
  padding: 32px;
}
.contactForm {
  display: flex;
  flex-direction: column;
}
.contactForm .form-label {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.contactForm .form-control {
  font-size: 1.125rem;
  padding: 0.5rem;
  border-color: #000000;
  border-width: 2px;
}
.contactForm .form-control:focus {
  box-shadow: none;
  /* Rimuovi l'ombreggiatura di Bootstrap */
  border-color: #000000;
}
.submitButton {
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  background-color: #facc15;
  border: 2px solid #000000;
  transition: all 0.3s ease;
  width: fit-content;
}
.submitButton:hover {
  background-color: #d7ad05;
  transform: translateY(-2px);
}
/**CURRICULUM**/
#education,
#work,
#skills,
#languages {
  border-radius: 5px;
  border: 5px solid #000000;
  box-shadow: 5px 5px 0px 0px #000000;
  padding: 20px;
  margin-bottom: 3rem;
}
#education {
  background-color: #93c5fd;
}
#work {
  background-color: #4aed80;
}
#skills {
  background-color: #d8b4fe;
}
#languages {
  background-color: #facc15;
}
.footer {
  text-align: center;
  margin-top: 3rem;
}
.footerText {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
